/**
 * Slider-flickity Stylesheet
 * 
 * @package slider-flickity
 */

.flickity-button {
  padding: 1px 6px;

  &:focus,
  &:hover {
    color: #333;
  }
}

.flickity-prev-next-button .flickity-button-icon {
  width: 40%;
  height: 40%;
  left: 30%;
  top: 32%;
}

/* enable Flickity by default */
// .images-container:after {
//   content: "flickity";
//   display: none; /* hide :after */
// }

// @media screen and (min-width: 768px) {
//   /* disable Flickity for large devices */
//   .images-container:after {
//     content: "";
//   }
// }

// @media not screen and (min-width: 768px) {

// Fade in carousel for no Flash Of Unstyled Content (FOUC)
// .slider-flickity .images-container {
//   opacity: 0;
//   transition: opacity 0.4s;

//   &.is-hidden {
//     display: none;
//   }

//   &.flickity-enabled {
//     opacity: 1;
//   }
// }
// }
